<div>
  <%= image_tag @post_image.get_image %>
  <p>ショップ名：<%= @post_image.shop_name %></p>
  <p>説明：<%= @post_image.caption %></p>
  <p>投稿ユーザー画像：<%= image_tag @post_image.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @post_image.user.name %></p>
  <!--created_atはデータ作成日。つまり投稿日を表す-->
  <!--'%Y=Year年(大文字)/%m=month月/%d=day日'-->
  <p>投稿日：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
  <!--showに対して現在見ているユーザー(current_user)が@post_image.userである時下のリンクを表示-->
  <% if @post_image.user == current_user %>
    <%= link_to 'destroy', post_image_path(@post_image), method: :delete %>
  <% end %>
</div>